@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.dark {
  --background: #1D1F23;
  --foreground: #F8F8F8;
  --secondary: #21252B;
  --secondary-foreground: #F8F8F8;
  --muted: #282C34;
  --muted-foreground: #6E7179;
  --accent: #2C313A;
  --accent-foreground: #F8F8F8;
  --primary: #4D78CC;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}